
.container {
    background-color: GhostWhite;
    height: 80%;
    width: 100%;
}

.homemenu {
    align-content: center;
}

.collapsible-header {
    display: block;
}

.dropdown-trigger {
    padding: 20px;
}

.dropdown-content {
    width: 200px;
}


.vegetarian {
    text-align: left;
}

.meateaters {
    text-align: left;
}



.btn_small {
    height: 24px;
    width: 120px;
    line-height: 24px;
    margin: 5px 5px;

}

.del_btn_small {
    height: 24px;
    width: 120px;
    line-height: 24px;
    margin: 5px 5px;
}

.searchrecipes {
    margin: auto;
}

/*media queries for responsive actions */

@media (max-width: 767px) {
 .navigation_buttons {
    width: 80%;
    line-height: 100px;
    margin: auto;
    padding: 20px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
 .navigation_buttons {
    width: 80%;
    line-height: 100px;
    margin: auto;
    padding: 20px;
}
 .recipe_image {
    height: 10%;
    width: 50%;
    margin: auto;
}
}

@media (min-width: 992px) {
 .header_image {
    height: 10%;
    width: 50%;
    margin: auto;
}
 .navigation_buttons {
    width: 30%;
    line-height: 100px;
    margin: auto;
    padding: 20px;
}
 .recipe_image {
    height: 10%;
    width: 50%;
    margin: auto;
}
}