
.container {
    height: 80%;
    width: 100%;
}

/*.header_image {
    max-height: 20%;
    max-width: 100%;
}*/

.homemenu {
    align-content: center;
}

.navigation_buttons {
    width: 300px;
    line-height: 100px;
    margin: 20px 20px;
}

.nav-wrapper {
 /*   margin-left: 20px;
    margin-right: 20px; */
}

.dropdown-trigger {
    padding: 20px;
}

.dropdown-content {
    width: 200px;
}

/*.dropdown2 {
    display: block;
}*/

.vegetarian {
    text-align: left;
}

.meateaters {
    text-align: left;
}

.btn_small {
    height: 24px;
    width: 120px;
    line-height: 24px;
    margin: 5px 5px;

}

.del_btn_small {
    height: 24px;
    width: 120px;
    line-height: 24px;
    margin: 5px 5px;
}

