{% extends 'base.html' %} {% block content %}
<div align="center">
  <h2>Add Recipe</h2>
  <p>Enter your recipe details and click the "Submit Recipe" button when you're done.</p>
  <br>
  <!--a form for the user to enter their own recipe-->
  <div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-md-12">

      <!--input fields for the user to enter their information-->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Recipe Name</span>
        </div>
        <input id="recipe_name" type="text" class="form-control" name="recipe_name" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Cuisine</span>
        </div>
        <input id="cuisine" type="text" class="form-control" name="cuisine" placeholder="eg Chinese, Italian etc" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Author</span>
        </div>
        <input id="author" type="text" class="form-control" name="author" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Image URL</span>
        </div>
        <input id="image" type="text" class="form-control" name="image" placeholder="eg  /static/images/pb.jpg  etc">
      </div>
      <br><br>
      <!--this row asks the user to select either vegetarian or meat eater-->
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="searchrecipes">Vegetarian or Meaty?</label>
        </div>
        <select class="form-control" id="searchrecipes" required>
          <option value="" disabled selected>Please select</option>
          {% for search in search_recipes %}
            <option value="{{search.suitable_for}}">{{search.suitable_for}}</option>
          {% endfor %}
        </select>
      </div>
      <br><br>

      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Ingredients</span>
        </div>
        <textarea class="form-control" rows="5" id="ingredients" name="ingredients" placeholder="Enter recipe ingredients here" required></textarea>
      </div>
      <br>
      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Procedure</span>
        </div>
        <textarea class="form-control" rows="5" id="procedure" name="procedure" placeholder="Enter recipe procedure here" required></textarea>
      </div>
      <br>

      <button type="submit" name="action" class="btn btn-success">Submit Recipe</button>
    </form>

  </div>
</div>

{% endblock %}