{% extends 'base.html' %} {% block content %}

<h2>Add Recipe</h2>
<p>Enter your recipe details and click the "Submit Recipe" button when you're done.</p>
<br>
<!--a form for the user to enter their own recipe-->
<div class="row">
  <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-md-5">
    <!--the first row asks the user to select either vegetarian or meat eater-->
    <div class="form-group">
      <select class="form-control" id="searchrecipes" placeholder="Suitable for">
    <option value="" disabled selected>Vegatarian or Meaty?</option>
    {% for search in search_recipes %}
    <option value="{{search.suitable_for}}">{{search.suitable_for}}</option>
    {% endfor %}
  </select>
    </div>

    <!--here are the input fields for the user to enter their information-->
    <div class="input-group">
      <input id="recipe_name" type="text" class="form-control" name="recipe_name" placeholder="Recipe Name">
    </div>
    <br>
    <div class="input-group">
      <input id="cuisine" type="text" class="form-control" name="cuisine" placeholder="Cuisine">
    </div>
    <br>
    <div class="input-group">
      <input id="author" type="text" class="form-control" name="author" placeholder="Author">
    </div>
    <br>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="ingredients" name="ingredients" placeholder="Ingredients"></textarea>
    </div>
    <br>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="procedure" name="procedure" placeholder="Procedure"></textarea>
    </div>
    <br>
    <div class="input-group">
      <input id="image" type="text" class="form-control" name="image" placeholder="Image URL">
    </div>
    <br>
    <button type="submit" name="action" class="btn btn-success">Submit Recipe</button>
  </form>

</div>

{% endblock %}