{% extends 'base.html' %} {% block content %}
<div align="center">
  <h2>Edit Recipe</h2>
  <p>Edit your recipe details and click the "Update Recipe" button when you're done.</p>
  <br>

  <!--a form to edit the recipe-->
  <div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col-md-12">

      <!--input fields for the user to edit the information-->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Recipe Name</span>
        </div>
        <input id="recipe_name" type="text" class="form-control" name="recipe_name" value="{{recipe.recipe_name}}" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Cuisine</span>
        </div>
        <input id="cuisine" type="text" class="form-control" name="cuisine" value="{{recipe.cuisine}}" placeholder="eg Chinese, Italian etc" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Author</span>
        </div>
        <input id="author" type="text" class="form-control" name="author" value="{{recipe.author}}" required>
      </div>
      <br><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Image URL</span>
        </div>
        <input id="image" type="text" class="form-control" name="image" value="{{recipe.image}}" placeholder="eg  https://website.com/recipeimage.jpg">
      </div>
      <br><br>
      <!--this row is preselected vegetarian or meat eater-->
      <div class="form-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="searchrecipes">Vegetarian or Meaty?</label>
        </div>
        <select class="form-control" id="searchrecipes" name="suitable_for" required>
              <option value="" disabled >Please select</option>
                {% for search in search_recipes %}
                {% if search.suitable_for == recipe.suitable_for %}
                  <option value="{{search.suitable_for}}" selected>{{search.suitable_for}}</option>
                {% else %}
              <option value="{{search.suitable_for}}">{{search.suitable_for}}</option>
              {% endif %}
              {% endfor %}
            </select>
      </div>
       <br>
      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Ingredients</span>
        </div>
        <textarea id="ingredients" type="text" rows="5" class="form-control" name="ingredients" placeholder="Enter recipe ingredients here" required>{{recipe.ingredients}}</textarea>
      </div>
      <br>
      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Procedure</span>
        </div>
        <textarea id="procedure" type="text" rows="5" class="form-control" name="procedure" placeholder="Enter recipe procedure here" required>{{recipe.procedure}}</textarea>
      </div>
      <br>

      <button type="submit" name="action" class="btn btn-success">Update Recipe</button>
    </form>

  </div>
</div>

{% endblock %}