{% extends 'base.html' %} {% block content %}
<br>

<!--adding navbar and sidebar for mobile here-->

  <ul class="sidenav" id="mobile-menu">
    <li><a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">All Recipes</a></li>
    <li><a href="{{url_for('add_recipe', recipe_id=recipe._id)}}">Add Recipe</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Search For Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>
  
  <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Recipes</a>
    <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">All Recipes</a></li>
        <li><a href="{{url_for('add_recipe', recipe_id=recipe._id)}}">Add Recipe</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Search For Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!--dropdown menu from search here-->
<form action="{{url_for('find_recipe')}}" method="POST">
  <ul id="dropdown1" class="dropdown-content">
      <li><a href="{{url_for('find_recipe', recipe_id="vegetarian")}}">Vegetarian</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="meateaters")}}">Meat Dishes</a></li>
      <li class="divider"></li>
      <li><a href="{{url_for('find_recipe', recipe_id="italian")}}">Italian</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="irish")}}">Irish</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="chinese")}}">Chinese</a></li>
  </ul>
</form>

<form action="{{url_for('find_recipe')}}" method="POST">
  <ul id="dropdown2" class="dropdown-content">
      <li><a href="{{url_for('find_recipe', recipe_id="vegetarian")}}">Vegetarian</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="meateaters")}}">Meat Dishes</a></li>
      <li class="divider"></li>
      <li><a href="{{url_for('find_recipe', recipe_id="italian")}}">Italian</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="irish")}}">Irish</a></li>
      <li><a href="{{url_for('find_recipe', recipe_id="chinese")}}">Chinese</a></li>
  </ul>
</form>

              

{% endblock %}
