{% extends 'base.html' %} {% block content %}
<div align="center">
  <h2>Welcome to "World of Recipes"</h2>
  <p>We have recipes from a variety of cuisines to suit your taste. People from all over the world are adding new recipes every day.</p>
  <br><hr><br><br>
  <h4>Enter your username for full access to the app.</h4>
  <p>Log in to your account to add your own recipes to our collection. You can also edit or delete recipes if you spot a mistake.</p>
  <div class="row col-lg-6 col-sm-6">
    
    <form action="{{ url_for('find_recipe') }}" method="POST" class="col-md-12">
      <!--input fields for the user to enter their information-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Enter username:</span>
        </div>
        <input type="text" class="form-control" aria-label="username" required>
        <div class="input-group-append">
          <button class="input-group-text"><strong>LOG IN</strong></button>
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
</div>
<br>
<br> {% endblock %}