{% extends 'base.html' %} {% block content %}

<h3>Recipes by Kim Sang</h3>

<ul class="collapsible" data-collapsible="accordion">
    {% for kimsang in kimsang %}
    
    <li>
        <div class="collapsible-header">
            <div class="recipe_header">
                <!--this returns the recipe name and details about each one from the database-->
                <i class="material-icons">expand_more</i><strong>{{kimsang.recipe_name}}</strong>
            </div>
        </div>
        <!--when dropped down, this will display the info I want from the database for each recipe available-->
        <div class="collapsible-body">
            <div class="recipe_header col s9">
                <strong>{{kimsang.cuisine}} dish prepared by {{kimsang.author}}  </strong><br><br>

                <div class="col s3">
                    <a href="{{url_for('edit_recipe', recipe_id=kimsang._id)}}" class="waves-effect waves-light btn btn_small green col s3">Edit</a>
                    <a href="{{url_for('delete_recipe', recipe_id=kimsang._id)}}" class="waves-effect waves-light btn del_btn_small red col s3">Delete</a><br>
                </div><br>
                <h6>Ingredients</h6>
                <div class="col s9">
                    {{kimsang.ingredients}}
                </div><br><br>

                <div class="recipe_image col s12">
                    <img src="{{kimsang.image}}" style="max-width:100%;max-height:10%;">
                </div><br>

                <h6>Procedure</h6>
                <div class="col s9">
                    {{kimsang.procedure}}
                </div>
            </div>
        </div>
    </li>

    {% endfor %}

</ul>
<div class = "row">
    <a href="{{url_for('add_recipe')}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons right">add</i></a>
    <a href="{{url_for('recipe_home')}}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons right">home</i></a>
</div>

{% endblock %}