{% extends 'base.html' %} {% block content %}
<h1 align="center">Recipes</h1>
<p align="center">Click "View Recipe" to see the ingredients and procedure.</p>

<!--radio buttons for user to filter recipes-->
<div class="container" align="center">
  <form action="{{ url_for('find_recipe') }}" method="POST">
    <label class="checkbox-inline"><input type="checkbox" name="suitable_for" value="Vegetarian">&nbsp;Vegetarian&nbsp;&nbsp;&nbsp;</label>
    <label class="checkbox-inline"><input type="checkbox" name="suitable_for" value="Meat eaters">&nbsp;Meaty&nbsp;&nbsp;&nbsp;</label>
    <input type="submit" class="btn-sm btn-info" value="Filter Search">
  </form>
</div>
<br>


<!-- Page Content -->

    <div class="container">
      <div class="row">
        {% for rec in recipe %}
          
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100" align="center">
              <a href="#"><img class="card-img-top" src="{{rec.image}}" alt="image of prepared dish"></a>
                <div class="card-body">
                  <h4 class="card-title">{{rec.recipe_name}}</h4>
                    <p>{{rec.cuisine}} <strong>{{rec.suitable_for}}</strong> dish prepared by {{rec.author}}</p>
                    
                    <form action="{{ url_for('find_recipe') }}" method="POST">
                      <div class="input-group">
                        <input type="submit" id="recipebutton" name="recipe_name" class="btn-sm btn-info" value="{{rec.recipe_name}}">
                      </div>
                    </form>
                    
                </div>
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>

  <hr>

<!-- Pagination setup but not wired up-->
<ul class="pagination justify-content-center">
   <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
  </li>
</ul>

{% endblock %}