{% extends 'base.html' %} {% block content %} 
    
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipe %}
        <li>
            <div class="collapsible-header">
                <div class="recipe_header">
                    <!--this returns the recipe name and details about each one from the database-->
                    <i class="material-icons">expand_more</i><strong>{{recipe.recipe_name}}</strong> - {{recipe.suitable_for}}
                </div>
            </div>
            <div class="collapsible-body">
                <h6>
                    {{recipe.cuisine}} dish prepared by {{recipe.author}}
                </h6><br>
                <h6>Ingredients</h6>
                <span>
                    {{recipe.ingredients}}
                </span><br><br>
                <h6>Procedure</h6>
                <span>
                    {{recipe.procedure}}
                </span>
            </div>
        </li>
    
        {% endfor %}
    
    </ul>
    
{% endblock %}
