{% extends 'base.html' %} {% block content %}

<h1 align="center">Choose A Recipe</h1>
<p align="center">Click the <strong>"View Recipe"</strong> button to see ingredients and procedure.</p>

<!--radio buttons to filter recipes-->
<div class="container" align="center">
  <form action="{{ url_for('find_recipe') }}" method="POST">
    <label class="radio-inline"><input type="radio" name="suitable_for" value="Vegetarian">&nbsp;Vegetarian&nbsp;&nbsp;&nbsp;</label>
    <label class="radio-inline"><input type="radio" name="suitable_for" value="Meat eaters">&nbsp;Meaty&nbsp;&nbsp;&nbsp;</label>
    <label class="radio-inline"><input type="radio" name="cuisine" value="Irish">&nbsp;Irish&nbsp;&nbsp;&nbsp;</label>
    <label class="radio-inline"><input type="radio" name="cuisine" value="Italian">&nbsp;Italian&nbsp;&nbsp;&nbsp;</label>
    <label class="radio-inline"><input type="radio" name="cuisine" value="Chinese">&nbsp;Chinese&nbsp;&nbsp;&nbsp;</label>
    <input type="submit" class="btn-sm btn-info" value="Filter Search">
  </form>

  <!--flash message here to let user know their search was completed-->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <br>
  <ul class="alert alert-info" role="alert" style="list-style-type:none">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

</div>
<br>


<!--content card for each recipe-->
<div class="container">
  <div class="row">

    {% for rec in recipe %}

    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{rec.image}}" alt="image of prepared dish">
        <div class="card-body">
          <h4 class="card-title">{{rec.recipe_name}}</h4>
          <p>{{rec.cuisine}} <strong>{{rec.suitable_for}}</strong> dish prepared by {{rec.author}}</p>
          <form action="{{ url_for('show_recipe') }}" method="POST">
            <div class="input-group">
              <button type="submit" id="recipebutton" name="recipe_name" class="btn-sm btn-info" value="{{rec.recipe_name}}">View Recipe</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endfor %}

  </div><br><br>
  <a class="btn btn-info" href="{{url_for('find_recipe')}}">All Recipes</a>
</div><br>

<hr> {% endblock %}
